# Segmenting and Clustering Neighborhoods in Toronto

In [30]:
!pip install beautifulsoup4
!pip install lxml
!pip install requests

Requirement already satisfied: beautifulsoup4 in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from beautifulsoup4) (1.7.1)

Import the BeautifulSoup Package

In [31]:
from bs4 import BeautifulSoup
import requests

Use BeautifulSoup to obtain the Table on the Wiki page. The latest table seems a little different than the one in the assignment, so used a older version of the table

In [16]:


URL = "https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=929562264" #older URL with table formatted similar to assignment
r = requests.get(URL)

soup = BeautifulSoup(r.content, "lxml")
Toronto_table = soup.find('table', {'class':'wikitable sortable'})

In [17]:
import pandas as pd

In [55]:
Toronto_df = pd.read_html(str(Toronto_table)) #Read the html table into a list of pandas dataframe
Toronto_df2 = Toronto_df[0] #Convert that list into a pandas dataframe

#Drop Boroughs that are 'Not assigned'. Assumption is that there are no typos or other formats of unassigned Boroughs
Toronto_df2.drop(Toronto_df2[Toronto_df2['Borough'] == 'Not assigned'].index, inplace = True)
Toronto_df2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [56]:
#Next, replace all the not assigned Neighborhoods with the names of their Boroughs. Again assumption is that there are no typos or other formats of unassigned Neighbourhoods
Toronto_df2.Neighbourhood.replace('Not assigned', Toronto_df2.Borough, inplace = True)

Combine Neighborhoods in the Same Borough

In [61]:
#Use the groupby function to combine over postcose and Borough. The Apply feature allows us to join the Neighborhoods using a comma
Toronto_df2 = Toronto_df2.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
Toronto_df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [59]:
Toronto_df2.shape

(103, 3)